* {
  box-sizing: border-box;
}
body {
  background-color: floralwhite;
}
p {
  font-family: 'Lora', serif;
  font-size: 16px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  color: black;
  text-align: center;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: darkslategray;
  text-align: left;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: darkslategray;
  text-align: left;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: darkslategray;
  text-align: left;
}
h4 a {
  text-decoration: none;
  color: darkcyan;
}
h4 a:hover {
    color: darkturquoise;
}
img {
  max-width: 100%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
 nav li {
    float: left;
}
nav li a {
    display: block;
    color: floralwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    color: darkturquoise;
}
nav li:nth-child(even) {
  background-color: black;
}
ul {
list-style-type: none;
}
section li:nth-child(odd) {
  color: darkseagreen;
}
section li:nth-child(even) {
  color: dodgerblue;
}
footer a {
  text-decoration: none;
  font-family: Montserrat;
  color: darkcyan;
  }
footer a:hover {
    color: darkturquoise;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-container div {
  color: black;
  padding: 1rem;
  width: 30%;
}
.button {
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.fade {
  transition-property: opacity;
  transition-duration: 2s;
  opacity: 0.5;
}
.fade:hover {
  opacity: 1;
}
#button-color {
  transition-property: background-color;
  background-color: darkcyan;
  transition-duration: 1s;
}
#button-color:hover {
  background-color: darkturquoise;
}
.form-container {
  max-width: 500px;
  background-color: #b3bfbf;
  border-radius: 5px;
  padding: 15px;
}
input, select, textarea {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Lora', serif;
  font-size: 16px;
}
input[type=submit] {
  background-color: #546f6f;
  color: white;
}
input[type=submit]:hover {
  background-color: #009092;
}
