* {
  box-sizing: border-box;
}
body {
  background-color: floralwhite;
}
p {
  font-family: 'Lora', serif;
  font-size: 16px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  color: black;
  text-align: center;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: darkslategray;
  text-align: left;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: darkslategray;
  text-align: left;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: darkslategray;
  text-align: left;
}
a {
  color: darkcyan;
}
a:hover {
  color: darkturquoise;
}
img {
  border-style: solid;
  border-width: 2px;
  max-width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
li {
    float: left;
}
li a {
    display: block;
    color: floralwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: darkturquoise;
}
footer a {
  text-decoration: none;
  font-family: Montserrat;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.flex-container div {
  color: black;
  padding: 1rem;
  width: 30%;
}
